<!DOCTYPE html>
<html lang="jp">
  <head>
    <title>RECIZO</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all'%>
    <%= javascript_include_tag 'application'%>
    <link href="https://fonts.googleapis.com/earlyaccess/roundedmplus1c.css" rel="stylesheet">
    <%= favicon_link_tag('/assets/favicon.ico') %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
