<!DOCTYPE html>
<html lang="jp">
  <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
    <title>RECIZO</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all'%>
    <%= javascript_include_tag 'application'%>
    <link href="https://fonts.googleapis.com/earlyaccess/roundedmplus1c.css" rel="stylesheet">
    <%= favicon_link_tag('/assets/favicon.ico') %>


    <meta property="og:title" content="RECIZO" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://recizo.com/" />
    <meta property="og:image" content="http://recizo.com/assets/ogp.png" />
    <meta property="og:site_name" content="RECIZO" />
    <meta property="og:description" content="RECIZOは冷蔵庫の管理から料理のレシピ、近所のチラシ検索や旬の食材チェックなど様々な機能であなたの食を支えるアプリです。" />

    <meta property="fb:app_id" content="1463699533715761" />
    <meta name="twitter:card" content="summary_large_image" />
  </head>
  <body>
    <%= yield %>
  </body>
</html>
